body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #3f3c3c;
    color: white;
  }
}

#info {
  margin-bottom: 1em !important;
}

label,
input,
button {
  user-select: none;
  margin: 0.3em 0 !important;
}

table {
  border: 0;
  width: auto;
  border-collapse: collapse;
}

tr,
td {
  border: 0;
  text-align: center;
  height: 4em;
}

td {
  width: 10em;
}

#tableContainer {
  overflow: auto;
  width: 100%;
}

.colorName,
.colorCode {
  margin: 0;
}

.colorName {
  font-weight: bold;
  size: 1.3em;
}

.inputColor {
  width: 4em !important;
  height: 1.3em;
  text-align: center;
  margin: 0;
  padding: 0;
}
