body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #3f3c3c;
    color: white;
  }
}

table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

tr,
td {
  border: 0;
  text-align: center;
  height: 4em;
  width: 15%;
}

.colorName,
.colorCode {
  margin: 0;
}

.colorName {
  font-weight: bold;
  size: 1.3em;
}

.inputColor {
  width: 5em !important;
  height: 1.3em;
  text-align: center;
}
